<% if session[:user_id] %>

  <% if @admin && @admin.admin == true %>

    <h1><%= @user.name.capitalize %>'s Progress</h1><h3>(<%= @user.email %>)</h3>

    <a href="/users/<%= @user.id %>/workouts/new">Create New Workout</a><br><br>


<!-- Phase 1 Day 1 -->
    <table class="table table-striped">
      <tr>
        <th><a href="#">Phase 1</a></th>
      </tr>
      <tr>
        <th><a href="#">Day 1</a></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Weight</th>
        <th>Note</th>
        <th>Completed</th>
      </tr>
      <% @workouts.each do |workout| %>
        <% if workout.phase == 1 && workout.day == 1 %>
            <tr>
              <td><%= workout.name %>    <a href="">Edit</a> | <a href="">Delete</a></td>
              <td><%= workout.reps %></td>
              <td><%= workout.sets %></td>
              <td><%= workout.weight %></td>
              <td><%= workout.note %></td>
              <td><%= workout.completed ? "Yes" : "No" %></td>
            </tr>
        <% end %>
      <% end %>
    </table>

<!-- phase 1 day 2 -->
    <table class="table table-striped">
      <tr>
        <th><a href="#">Day 2</a></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Weight</th>
        <th>Note</th>
        <th>Completed</th>
      </tr>
      <% @workouts.each do |workout| %>
        <% if workout.phase == 1 && workout.day == 2 %>
            <tr>
              <td><%= workout.name %></td>
              <td><%= workout.reps %></td>
              <td><%= workout.sets %></td>
              <td><%= workout.weight %></td>
              <td><%= workout.note %></td>
              <td><%= workout.completed ? "Yes" : "No" %></td>
            </tr>
        <% end %>
      <% end %>
    </table>

    <!-- phase 1 day 3 -->
    <table class="table table-striped">
      <tr>
        <th><a href="#">Day 3</a></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Weight</th>
        <th>Note</th>
        <th>Completed</th>
      </tr>
      <% @workouts.each do |workout| %>
        <% if workout.phase == 1 && workout.day == 3 %>
            <tr>
              <td><%= workout.name %></td>
              <td><%= workout.reps %></td>
              <td><%= workout.sets %></td>
              <td><%= workout.weight %></td>
              <td><%= workout.note %></td>
              <td><%= workout.completed ? "Yes" : "No" %></td>
            </tr>
        <% end %>
      <% end %>
    </table>

    <!-- phase 1 day 4 -->
    <table class="table table-striped">
      <tr>
        <th><a href="#">Day 4</a></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Sets</th>
        <th>Weight</th>
        <th>Note</th>
        <th>Completed</th>
      </tr>
      <% @workouts.each do |workout| %>
        <% if workout.phase == 1 && workout.day == 4 %>
            <tr>
              <td><%= workout.name %></td>
              <td><%= workout.reps %></td>
              <td><%= workout.sets %></td>
              <td><%= workout.weight %></td>
              <td><%= workout.note %></td>
              <td><%= workout.completed ? "Yes" : "No" %></td>
            </tr>
        <% end %>
      <% end %>
    </table>
    <%= link_to 'Back', users_path %>
    <!-- End of admin view -->
  <% else %>
    <!-- Start of user's view -->
    <center>Congratulations <strong><%= @user.name.capitalize %></strong> For Making It This Far!<br>

    Here is Your Progress:</center><br><br>
    <ul class="list-group">
      <center>
        <!-- Single button -->
        <div class="btn-group">
          <button id="show-goals" type="button" class="btn btn-default">Workouts</button>
          <button type="button" class="btn btn-default">Photos</button>
          <button id="show-measurements" type="button" class="btn btn-default">Measurements</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Day <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Monday</a></li>
            <li><a href="#">Tuesday</a></li>
            <li><a href="#">Wednesday</a></li>
            <li><a href="#">Thursday</a></li>
            <li><a href="#">Friday</a></li>
            <li><a href="#">Saturday</a></li>
            <li><a href="#">Sunday</a></li>
          </ul>
        </div>
      </center>
    </ul>
    <div id="mlist">
      <table id="measurement" class="table table-striped">
        <tr>
          <th>Measurements</th>
          <th></th>
        </tr>
        <tr>
          <th>Item</th>
          <th>Status</th>
        </tr>

        <tr> <!-- Add measurement to iterate last measurements -->
          <td>Weight:</td>
          <td>50 LB</td>
        </tr>
        <tr>
          <td>Body Fat:</td>
          <td>12 %</td>
        </tr>
        <tr>
          <td>Dead Lift:</td>
          <td>12 LB</td>
        </tr>
        <tr>
          <td>Bench Press:</td>
          <td>12 LB</td>
        </tr>
        <tr>
          <td>Squat:</td>
          <td>12 LB</td>
        </tr>
        <tr>
          <td>Lat Pull Down:</td>
          <td>12 LB</td>
        </tr>
      </table>
    </div>

    <div id="glist">
  <% @workouts.each do |workout| %><br>
    <% if workout.completed == false %>
        <li class="list-group-item list-group-item-success">
          <strong><%= workout.name %></strong>
          <input type="submit" value="Complete" class="btn-xs btn-success pull-right wobtn" name="<%= workout.user_id %>" id="<%= workout.id %>">
        </li>
      <% else %>
        <li class="list-group-item list-group-item-success"><strong><%= workout.name %></strong>
        </li>
      <% end %>

    <li class="list-group-item"><span class="badge"><%= workout.reps %></span></span>Reps:</li>
    <li class="list-group-item"><span class="badge"><%= workout.sets %></span></span>Sets:</li>
    <li class="list-group-item"><span class="badge"><%= workout.weight %></span></span>Weight:</li>
    <% end %>
  <% end %>
</div>
<% else %>

  Please <a href="/">Log in</a> or <a href="/users/new">Register</a>
<% end %>


