<% if current_user && current_user.admin? %>
    <div class="container">

      <!-- Flash message when successfully creating/updating/destroying a workout -->
      <%= render 'flash_message' %>

      <!-- Title of client -->
      <h1><%= @user.name.capitalize %>'s Progress</h1>
      <h3>(<%= @user.email %>)</h3>
      <!-- End of title of client -->

      <!-- Button for workout -->
      <a href="/users/<%= @user.id %>/workouts/new"><button class="btn btn-lg btn-primary">Create New Workout</button></a>
      <br>
      <br>

      <%= render 'admin_view_client_workouts', :locals => {:phases => phases, workouts: @workouts } %>
 
    <!-- End of admin view -->


<% elsif %>
    <%= render 'flash_message' %>
    <!-- Start of user's view -->
    <%= render 'client_show_heading' %>

    <%= render 'measurements' %>

    <%= render 'client_workouts', :locals => {:phases => phases, workouts: @workouts } %>

    <!-- D3 graph for progress -->
    <%= render 'graphs' %>
    

  <% end %>

  




