<!DOCTYPE html>
<html>
<head>
  <title>WorkOutTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul>
<li><%= link_to "logout", {:controller=> "sessions", :action=> "destroy"}, method: :delete %>
</li>
</ul>
<%= yield %>

</body>
</html>
